@model ApplicationCore.Entities.Customer

<h1>create html</h1>
<h1>Add New Customer</h1>

<form asp-action="Create" asp-controller="Customer">
    <div>
        <label>Name</label>
        <input id="txtName"  type="text" name="Name" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="Address" class="form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label >Payment</label>
        <input type="text" name="Payment" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Payment" class="text-danger"></span>
    </div>

    <button type="submit" class="btn-primary btn">Save</button>
</form>