@model ApplicationCore.Entities.Product

<h1>create html</h1>
<h1>Add New Customer</h1>

<form asp-action="Create" asp-controller="Product">
    <div>
        <label asp-validation-for="ProductName" class="text-danger">ProductName</label>
        <input id="txtName"  type="text" name="ProductName" asp-for="ProductName" class="form-control"/>
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description" class="text-danger">Description</label>
        <input type="text" name="Description" asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    <div>
        <label asp-for="Price" class="text-danger" >Price</label>
        <input type="text" name="Price" asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
        </div>

    <button type="submit" class="btn-primary btn">Save</button>
</form>